@font-face {
    font-family: 'Gabarito',sans-serif;
    src: url(/assets/fonts/Gabarito-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}
*{
    color: #fff;
    font-family: 'Gabarito', sans-serif;
    text-decoration: none;
}
body{
    background-color: #121213;
}
.game-container{
    height: 90vh; /*bilgisayar çözünürlüğü kaç piksel ise yükseklik olarak %90 değerinde oranlaması için kullanılmıştır*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title{
    width: 1000px;
    display: flex;
    align-items: center;
    padding-block: 42px;
    border-bottom: solid 1px #c1c1c1;
    justify-content: space-between;
    
}
.title-content{
   
}
.tile-container {
    width: 330px;
    margin-block: 30px;
}
.tile{
    width: 62px;
    height: 62px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 2px;
}
.tile-container div{
    display: flex;
}
.keyboard-container{
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}
.keyboard-container button{
    width: 43px;
    height: 53px;
    border-radius: 4px;
    border: none;
    background-color: black;
    color: #fff;
    margin: 4px;

}
.message-section{
    height: 30px;
}

.message-section p{
    background-color: #818384;
    border-radius: 12px;
    padding: 10px;
    margin-block: 10px;
}
